#main {
    width: calc(100% - 250px);
    transition: all 0.3s ease;
    margin-left: 250px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fade-enter-active, .fade-leave-active {
    transition: all .3s ease-out;
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    transform:  translateY(6px);
    opacity: 0;
  }




// @keyframes onloadScale {
//     0% {
//         // transform: scale(1.2);
//         background-size: 120%;
//     }
//     100% {
//         // transform: scale(1);
//         background-size: 100%;
//     }
//   }

@media screen and (max-width: 1220px) {
    #main {
        width: calc(100% - 100px);
        margin-left: 100px;

        .header {
            .text-box {
                width: 80%;
            }
        }

        .container {
            width: 80%;
        }
    }
}

@media screen and (max-width: 540px) {
    #main {
        width: auto;
        margin-left: 0;
        padding: 0 20px;
        margin-top: 72px;

        .header {
            .text-box {
                width: 100%;
            }
        }
        .container {
            width: 100%;
            margin: 20px 0;
            padding: 48px 0 0 0;
            .footer-info {
                display: flex;
                flex-direction: column;
                align-items: center;
                left: 0;
                top: 56px;
                margin-bottom: 16px;
                span:nth-child(1) {
                    margin-bottom: 2px;
                    margin-right: 0;
                    position: relative;
                    top: -14px;
                }
                span:nth-child(2) {
                    display: none;
                }
            }
        }
    }
}