#main {
    width: calc(100vw - 250px);
    transition: all 0.3s ease;
    margin-left: 250px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }


@media screen and (max-width: 1220px) {
    #main {
        width: calc(100vw - 100px);
        margin-left: 100px;
    }
}

@media screen and (max-width: 414px) {
    #main {
        width: auto;
        margin-left: 0;
        padding: 0 20px;
        margin-top: 72px;

        .container {
            width: 100%;
        }
    }
}

